html {
    scroll-behavior: smooth;
    justify-content: flex-start;
}

body {
    font-family: "Cabin", "Open Sans", sans-serif !important;
}

/* sections */

#section-1,
#section-2,
#section-3,
#section-4 {
    height: auto;
    padding: 84px;
}

.jumbotron {
    background: none;
}

.navbar {
    padding: 24px;
}

.nav-item {
    margin: 0 16px;
    text-transform: uppercase;
}

.nav-link {
    color: #3cb4f1 !important;
    transition: all 0.5s ease-in-out;
}

.nav-link:hover {
    color: #3cb4f1 !important;
    border-bottom: #3cb4f1 solid 1px;
}

.navbar-brand {
    color: #3cb4f1 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

#section-1 {
    height: 100vh;
    background-color: #fff;
    background: linear-gradient(172deg, rgba(255, 255, 255, 1) 50%, transparent 50%), linear-gradient(172deg, transparent 50%, rgba(60, 180, 241, 1) 50%);
}

#section-2 {
    background: linear-gradient(0deg, rgba(49, 206, 195, 1) 50%, transparent 100%), linear-gradient(0deg, transparent 50%, rgba(60, 180, 241, 1) 50%);
}

#section-3 {
    background-color: #fff;
}

#section-4 {
    background-color: #31cec3;
}

.bg-light {
    background: white !important;
}

/* heading styles */

h1 {
    font-family: "Open Sans";
    font-size: 1.8em;
    font-weight: 800;
}

h2 {
    font-family: "Open Sans";
    font-size: 1.75em;
    font-weight: 700;
}

h3 {
    font-family: "Open Sans";
    font-size: 1.5em;
    font-weight: 700;
}

h4 {
    font-family: "Open Sans";
    font-size: 1.25em;
    font-weight: 400;
}

h5 {
    font-family: "Open Sans";
    font-size: 1em;
    font-weight: 600;
}

h6 {
    font-family: "Open Sans";
    font-size: 0.75em;
    font-weight: 400;
}

/* color styles */

.text-blue {
    color: #3cb4f1;
}

.text-tosca {
    color: #31cec3;
}

.text-white {
    color: #fff;
}

/* button styles */

.button-1 {
    background-color: #3cb4f1;
    border-radius: 42px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    width: 300px;
    height: 48px;
    padding: 12px 24px;
    transition: all 0.3s ease-in-out;
    border: none;
}

.button-1:hover {
    background-color: #fff;
    color: #3cb4f1;
    text-decoration: none;
}

.button-text-white {
    font-size: 0.5em;
    color: #ffffff;
}

@media screen and (min-width: 480px) {
    .button-text-white {
      font-size: calc(0.5em + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    .button-text-white {
      font-size: 16px;
    }
  }

.button-2 {
    background-color: #fff;
    border-radius: 42px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    width: 128px;
    height: 36px;
    padding: 6px 6px;
    transition: all 0.3s ease-in-out;
    border: none;
    cursor: pointer;
}

.button-2:hover {
    background-color: #31cec3;
    color: #fff;
    text-decoration: none;
}

.button-text-tosca {
    font-size: 0.6em;
    color: #31cec3;
}

/* form styles */

.form-control {
    border: none;
    border-radius: 0;
}

.form-1 {
    border-bottom: #fff solid 2px;
    background: none;
    color: #fff;
}

.form-1:focus {
    background: none;
    box-shadow: none;
    color: #fff;
    border-bottom: #fff solid 2px;
}

.form-1::placeholder {
    color: #fff;
}

.form-1 input[type="text"],
.form-1 input[type="date"],
.form-1 input[type="datetime"],
.form-1 input[type="email"],
.form-1 input[type="number"],
.form-1 input[type="search"],
.form-1 input[type="time"],
.form-1 input[type="url"],
.form-1 input[type="password"],
.form-1 textarea,
.form-1 select {
    padding: 6px 0px;
    border: #fff solid 2px;
    background: transparent;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}

.form-1 textarea {
    resize: none;
    overflow: hidden;
}